@import url("bootstrap.css");
@import url("chessboard-0.3.0.css");

.btn {
    outline: none !important;
}
#log {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding-right: 5px;
}
#votes {
    position: absolute;
    z-index: -1;
    padding: 2px;
}

.progress_move {
    width: 150px;
    margin: 0;
}
#alert_move {

}
#white_count, #black_count {
    margin: 0 5px;
}
.board-fill {
    position: absolute;
    z-index: -20;
    width: inherit;
}
#log .chat {
    font-style: italic;
}
#log .move {

}
#log .info {
    text-align: right;
    color: slategray;
}
#log .warning {
    font-weight: bold;
    text-align: right;
    color: green;
}
#log .warning {
    text-align: right;
    color: red;
}