#log {
    overflow-y: scroll;
}
#votes {
    position: absolute;
    z-index: -1;
    padding: 2px;
}

.progress_move {
    width: 150px;
    margin: 0;
}
#alert_move {

}
#white_count, #black_count {
    margin: 0 5px;
}
.board-fill {
    position: absolute;
    z-index: -20;
    width: inherit;
}